*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.calc{
  width: 30%;
  background-color: black;
  color:beige;
}

.screen{
  font-size: 40px;
  text-align: right;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px 5px;
  margin: 0 auto;
}

.screenSymbol{
  font-size: 20px;
  text-align: right;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px 5px;
  margin: 0 auto;
}


.calc-button{
  text-align: center;
  background-color: rgb(196, 196, 173);
  color: black;
  width: 24.5%;
  font-size: 40px;
  cursor: pointer;
  border-radius: 0;
}

.calc-button:hover{
  background-color: beige;
}

.calc-button:active{
  background-color: rgb(99, 99, 87);
}

.calc-button:last-child{
  background-color: rgb(194, 151, 72);
  color: white;
}

.calc-button:last-child:hover{
  background-color: rgb(219, 173, 86);
}

.calc-button:last-child:active{
  background-color: rgb(145, 119, 71);
}

.double{
  width: 49.7%;
}
.triple{
  width: 74.8%;
}

.calc-row{
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  margin-bottom: 0.5%;
}